﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Login Page";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @*@using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@

            @Html.AntiForgeryToken()
            <h>Hello Home</h>
            <hr />
            @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <form class="user">

                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputUser" aria-describedby="textHelp" placeholder="Enter Username">
                </div>

                @*<div class="form-group">
                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                    </div>*@
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                </div>
                <a href="#" onclick="checkLogin()" class="btn btn-default">Login</a>
                <a href="/"><span class="btn btn-default">Cancel</span></a>
            </form>

            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>*@

            @*//Enable this once you have account confirmation enabled for password reset functionality*@
            <p></p>
            @*<p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@

            <p>
                @Html.ActionLink("Create user", "UserCreate", "Home")
            </p>


        </section>
    </div>
    <div class="col-md-4">
        @*<section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>*@
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function checkLogin() {

        var data = JSON.stringify({
            //Email: $("#exampleInputEmail").val(),
            username: $("#exampleInputUser").val(),
            password: $("#exampleInputPassword").val()
        });
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Home/CheckLogin",
            data: data,
            success: function (result) {
                if (result == true) {
                    alert("Welcome to our website")
                    window.location.href = "Index";
                }
                else {
                    alert("Invalid username and password")
                    window.location.href = "Login";
                }

            },
            error: function () {
                alert("Error!")
            }
        });
    }

</script>

