﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CI CD Class Activity</h1>
</div>
@if (User.Identity.IsAuthenticated)
{
    @*<h1>Welcome user @ApplicationIdentity.IsAuthenticated ?</h1>*@
    <div>Welcome @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Guest")  (User) </div>
    <a href="@Url.Action("SignOut","Home")"></a>
}
<div class="row">
    <div class="col-md-4">
        <h1 class="display-4">Welcome to SOFT806 Class Activity</h1>
        <h1>Group:</h1>
        <p>Renata - 09197003</p>
        <p>Manpreet - 09217580</p>
        <p>Tananya - 09217561</p>
    </div>
</div>